@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter',sans-serif;
}

:root{
    --baby-blue: #E7FAFE;
    --black: #000000;
}

h2{
    font-size: 3rem;
    font-weight:600;
}

@media (max-width: 768px) {

    h2{
        font-size: 2rem;
    }

}