
:root{
    --baby-blue: #E7FAFE;
    --black: #000000;
}

.category{
    margin-top: 10rem;
    margin-left: 4.3rem;
    margin-right: 4.3rem;
    margin-bottom: 9rem;
}

.category--head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7rem;
}

.category--head button{
    background-color: var(--baby-blue);
    font-size: 15px;
    font-weight: 500;
    padding: 1rem 2rem;
    border: none;
    border-radius: 12px;
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.29);
}

.category--head button:hover{
    background-color: #c9e1e5;
}

.category--main{
    display: flex;
    justify-content: center;
}

.category--main img{
    width: 90%;
    border-radius: 27px;
    border-top: none;
    box-shadow: 0px 5px 8px -1px rgba(0,0,0,0.20);
}

.item-text p{
    position: relative;
}

.item-text .b-fast{
    bottom: 3rem;
    left: 2.8rem;
}

.item-text .vegan{
    bottom: 3rem;
    left: 3.3rem;
}

.item-text .meat{
    bottom: 3rem;
    left: 3.7rem;
}

.item-text .dessert{
    bottom: 3rem;
    left: 3.2rem;
}

.item-text .lunch{
    bottom: 3rem;
    left: 3.7rem;
}

.item-text .chocolate{
    bottom: 3rem;
    left: 2.8rem;
}


@media (max-width: 768px) {

    .category{
        margin-left: .8rem;
        margin-right: .7rem;   
        margin-top: 3rem;    
    }

    .category--head button{
        font-size: smaller;
        padding: .8rem .8rem;
        margin-bottom: 38px;
        margin-top: 38px;
        align-items: center;
    }

    .category--main{
        display: none;
    }

    
.category--main{
    display: flex;
    justify-content: center;
}

.category--main img{
    width: 100%;
    border-radius: 27px;
    border-top: none;
    box-shadow: 0px 5px 8px -1px rgba(0,0,0,0.20);
}

.category--main{
    display: flex;
    flex-wrap: wrap;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 30px;
}

.category--main img{
    width: 120px;
}

.item-text {
  flex: 0 0 calc(50% - 16px); /* 2 columns */
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.item-text p{
    display: none;
}
}





