.preFooter {
  padding: 5rem 1rem;
  display: flex;
  justify-content: center;
}

/* MAIN CARD */
.preFooter .breaker {
  background-color: #E7FAFE;
  width: 100%;
  max-width: 1100px;
  min-height: 390px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 4rem 2rem;
  position: relative;
  overflow: hidden;
}

/* TEXT */
.preFooter .breaker h2 {
  margin-bottom: 1.8rem;
}

.preFooter .breaker p {
  margin-bottom: 2rem;
  width: 600px;
  margin-inline: auto;
}

/* FORM */
.email-form {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.email-form input {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 8rem;
  padding-left: 1rem;
  width: 320px;
  border: none;
  outline: none;
  border-radius: 12px 0 0 12px;
  font-size: 1rem;
}

.email-form button {
  padding: .8rem 1rem;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  border-radius: 0 12px 12px 0;
  font-size: 1rem;
}

/* IMAGES */
.images img {
  position: absolute;
  width: 260px;
  border-radius: 25px;
}

.img1 {
  bottom: -40px;
  left: -40px;
}

.img2 {
  bottom: -40px;
  right: -40px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .preFooter {
    padding: 2rem 1rem;
  }

  .preFooter .breaker {
    padding: 2rem 1rem;
    border-radius: 20px;
  }

  .preFooter .breaker p {
    width: 100%;
  }

  .email-form {
    flex-direction: column;
    gap: 1rem;
  }

  .email-form input,
  .email-form button {
    width: 100%;
    border-radius: 25px;
  }

  .images img {
    display: none;
  }
}
